.NpcDetailPage {
  padding: 20px;
}

.NpcDetailPage img {
  height: 200px;
}

.NpcDetailPage p {
  margin: 15px 0;
}

.NpcDetailPage a {
  font-size: .9rem;
  margin-right: 10px;
}

.NpcDetailPage button.delete {
  background: 0;
  border: 0;
  text-decoration: underline;
  color: blue;
  font-size: .9rem;
  cursor: pointer;
}