.MonsterDetailPage {
  padding: 20px;
}

.MonsterDetailPage img {
  height: 200px;
}

.MonsterDetailPage p {
  margin: 15px 0;
}

.MonsterDetailPage a {
  font-size: .9rem;
  margin-right: 10px;
}

.MonsterDetailPage button.delete {
  background: 0;
  border: 0;
  text-decoration: underline;
  color: blue;
  font-size: .9rem;
  cursor: pointer;
}